/* Mit dier Klasse gekennzeichnete Elemte sollen Elemente sein, die Informationen 
über die FeWo mitteilen. */
.info_text
{
    width: 40%;
}

/* Hier werden sehr allgemein geltende Regeln für alle Element auf der Website eingeführt. 
Details werden in section und oder klassen eingeführt */
body 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* "Layout Manager" einstellen */
    display: flex;
    flex-direction: column;
    align-items: center;   

    margin: 0;

    background-color: #F0FFFF;
}

.tabelle_ausstattung, th,td,tr 
{
    /* Keine Linien zw. Spalten u. Zeilen*/
    border-collapse: collapse;
    align-self: left;
    /* margin: 20px; */
    background-color: rgb(255, 254, 254);
    text-align: left;
}

th
{
  /* Die oberste Reihe wird mit einer anderen Farbe eingefärbt*/
  background-color: rgb(190, 194, 198);
  padding: 0.75rem 1rem;
  /* Oberste Spalte wird groß Geschrieben*/
  text-transform: uppercase;
  /*Etwas freiraum zwischen den Buchstaben*/
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  /*Verbesserte Lesbarkeit*/
  font-weight: 601;      
}

td
{
    padding: 0.4rem;
}

/* Wie kann ich auf der Detailseite die Elemente nach links verschieben, da sich das "globale body" interferieren (danke Umut) mit dem left_container  */
/* Hat sich das erledigt? */