/* Mit dier Klasse gekennzeichnete Elemte sollen Elemente sein, die Informationen 
über die FeWo mitteilen. */
.info_text
{
    width: 40%;
}

/* Hier werden sehr allgemein geltende Regeln für alle Element auf der Website eingeführt. 
Details werden in section und oder klassen eingeführt */
body 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* "Layout Manager" einstellen */
    display: flex;
    flex-direction: column;
    align-items: center;   

    margin: 0;

    background-color: #F0FFFF;
}

.tabelle_ausstattung, th,td,tr 
{
    /* Keine Linien zw. Spalten u. Zeilen*/
    border-collapse: collapse;
    align-self: left;
    /* margin: 20px; */
    background-color: rgb(255, 254, 254);
    text-align: left;
}

th
{
  /* Die oberste Reihe wird mit einer anderen Farbe eingefärbt*/
  background-color: rgb(190, 194, 198);
  padding: 0.75rem 1rem;
  /* Oberste Spalte wird groß Geschrieben*/
  text-transform: uppercase;
  /*Etwas freiraum zwischen den Buchstaben*/
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  /*Verbesserte Lesbarkeit*/
  font-weight: 601;      
}

td
{
    padding: 0.4rem;
}

/* Styling für den kalender */

.cal_body {
background: radial-gradient(#f7f7f7, #dce0e1);
overflow: hidden;
margin: 20x;
padding: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.calenderbox{
align-self: center;
width: 350px;
height: 30px;
transform: translate(-50%,-50%);
}

.calenderhead{
background-color: #2196f3;
padding: 15px 20px;
color: white;
}

.head_1 {
padding: 10px 20px;
text-align: center;
font-weight: bold;
}

.left_icon {
float: left;
}

.right_icon {
float: right;
}

.days {
padding: 20px 0px;
text-align: center;
}

.d{
float: left;
width: 14.28%;
color: #8a8998;
}

.number {
padding: 20px 0px;
text-align: center;
}

.n {

float: left;
width: 14.28%;
color: #444343;
font-weight: bold;
}

.active {

    color: #fff;
    background-color: #2196f3;
    height: 30px;
    border-radius: 5px;
}

.n:active {
   
    background-color: #2196f3;
   
}

.n:hover {

    color: #2196f3;
    cursor: pointer;

}