h1 {
    color: black;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Ermöglicht die Verwendung für eine flexibles Layout im Body bereich */
    display: flex;

    /* Spezifiziert ein Collum Layout. Andernfalls ist flow layout (java) vor eingestellt. */
    flex-direction: column;

    /* Zentriert alles in der Mitter der Seite */
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: #F0FFFF;

}




button {
    margin-top: 12px;
    padding: 0.6em 1.5em;
    background-color: cornflowerblue;
    color: white;
    font-size: 12pt;
    border: none;
    border-radius: 100px;

    /* Dieser Befehl sorgt dafür, dass der Button seine Breite behält. Egal ob sich der Text in
    Ihm ändert. */
    min-width: 400px;
}

section.section_titel {
    /* background-color: rgb(237, 216, 246); */

    /* 20 Pixel Abstand zur Oberen Kante der Website */
    margin-top: 20px;

    /* Abstand der Grenzen der Section zum Zentrum definieren.
    Sorgt dafür, dass die Section aufgeblasen wird und so als 
    rechteckiger Kasten erscheint. Verwendung der Prozentwerte bezieht sich
    auf x prozenz der breite bzw höhe des übergeordneten containers. */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

section.section_ferienwohnungen {
    background-color: paleturquoise;

    /* Jede Ferienwohnung in einen Rahmen packen. Und bei dem Rahmen 
    die Ecken abrunden.*/
    border: 2px solid #6e49b8;
    border-radius: 5px;


    /* Abstand der Section zum äußeren Container definieren */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    /* background-color: rgb(237, 216, 246); */

    /* Abstand der Grenzen der Section zum Zentrum definieren.
    Sorgt dafür, dass die Section aufgeblasen wird und so als 
    rechteckiger Kasten erscheint. */
    padding-top: 20px;
    padding-bottom: 150px;
    padding-left: 400px;
    padding-right: 400px;

    /* Eine bestimmte Breite des Elements soll nicht überschritten werden.
    So wird sichergestellt, dass jedes Element gleich groß ist. */
    max-width: 400px;


    /* Achtung ich kann mir nicht vorstellen, dass die Verwendung von festen Pixelgrößen hier sinnvoll für 
    ein dynamisches Layout ist. Das sollte zu prozent werten geändert werden, falls möglich.  */


    /*
        Wenn in einer html datei eine section mehrfach verwendet werden soll, aber trotzdem unterschiedliche
        formatierungen existieren kann keien id verwendet werden um diese zu unterscheiden. Aus dem Grund, da
        mehrfachverwendung der gleichen id nicht gewollt ist in html.
    */
}

footer {
    /* Außenabstände von diesem Element zu seinen Nachbarelementen definieren. */
    margin-top: 25px;
    margin-bottom: 15px;

    /* Elemente in Footer aufblasen. So benötigen Sie mehr Platz als sie eigentlich bräuchten. Das entzerrt die Website  */
    padding-left: 15px;
    padding-right: 15px;
}


/* Eigenschaften beim Überfahren mit der Maus */
button:hover {
    background-color: #FF0000;
}

#zimmer_1 {





}

